@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to WEB HR DEPARTMENT!</h1>
    <p>Designed and Builded by Mykyta Struk</p>
</div>
